@charset "UTF-8";
        body {
            font-family: Arial, sans-serif;
            background-color: #F2F2F2;
            margin: 0;
            padding: 20px;
        }

        .business-card {
            width: 300px;
            background-color: #FFFFFF;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 0 auto;
            position: absolute;
 		    top: 50%;
 		    left: 50%;
 	 	    transform: translate(-50%, -50%);
        }

        .business-card h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            color: #333333;
            text-align: center;
            margin-bottom: 10px;
        }

        .business-card table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .business-card th,
        .business-card td {
            padding: 8px;
        }

        .business-card th {
            text-align: left;
            font-weight: bold;
            color: #666666;
        }

        .business-card td {
            color: #333333;
        }

        .business-card .profile-picture {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }

        .business-card .profile-picture img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }

        .business-card button {
            display: block;
            width: 100%;
            padding: 8px;
            background-color: #343d46;
            color: #FFFFFF;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
            margin-bottom: 10px;
        }

        .business-card button:hover {
            background-color: #000000;
        }